.mainboard {
    width: 320px;
    height: 360px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    
     
}

#display {
    width: 320px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: end;
    margin: 2px;
    font-size: 50px;

    
}

button {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    font-size: 40px;
    
}

#reset,
#delete,
#zero  {
    height: 80px;
    width: 160px;
}

