.mainboard {
    width: 320px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    
     
}

#display {
    width: 312px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: end;
    margin: 2px;
    font-size: 50px;
    background-color: lightgoldenrodyellow;

    
}

button {
    height: 78px;
    width: 78px;
    border-radius: 10px;
    font-size: 38px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 0.5 px solid black;
    background-color: lightgoldenrodyellow;
}

#reset,
#delete,
#zero  {
    height: 78px;
    width: 156px;
}

